# [D6：EDA: 欄位的資料類型介紹及處理]

[pdf](https://github.com/P86071244/3rd-ML100Days/blob/master/homework/D6/D6.pdf)

# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [Sample Code & 作業內容]

A、在初步 EDA 的過程，我們無可避免會想問的問題

    不同資料類型各有多少個欄位？

    類別型欄位 (pandas 中的 object) 的類別數量?

    模型怎麼處理類別型的資料？有什麼表示方法？
    
B、這三個問題在參考程式碼範例(請點選下方檢視範例Day_006_column_data_type.ipynb)都會實現，第三個問題會更為複雜一些，簡單來說我們有兩種方法來處理類別型資料 

- Label encoding: 把每個類別 mapping 到某個整數，不會增加新欄位
- One Hot encoding: 為每個類別新增一個欄位，用 0/1 表示是否

![HW](https://github.com/P86071244/3rd-ML100Days/blob/master/homework/D6/HW.jpeg?raw=true)

C、作業1：請詳細閱讀label-encoder-vs-one-hot-encoder (英文)

D、作業2：請點檢視範例，作業請提交Day_006_HW.ipynb檔

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
# print(type(f_app_train)) # <class 'str'>
app_train = pd.read_csv(f_app_train)
# print(type(app_train)) # <class 'pandas.core.frame.DataFrame'>

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [4]:
# 檢視資料中各個欄位類型的數量
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [5]:
# 檢視資料中類別型欄位各自類別的數量
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [6]:
"""
Your Code Here
"""
sub_train = pd.get_dummies(sub_train)
print(sub_train.shape)
sub_train.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

# [Reference]

##### Pandas 數據類型 csdn - Claroja

[網頁連結](https://blog.csdn.net/claroja/article/details/72622375)

這邊完整的列舉了 Pandas 所有的類別型態，同學大概知道有哪些即可，若有需要深入了解的，我們在後面的課程會再提及。

![Reference](https://github.com/P86071244/3rd-ML100Days/blob/master/homework/D6/Reference.jpeg?raw=true)